version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: frontend-runtime
    image: appgustoo-frontend:latest
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - appnet

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      target: backend-runtime
    image: appgustoo-backend:latest
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Xms256m -Xmx512m
    networks:
      - appnet

networks:
  appnet:
    driver: bridge